<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Angry pawn offers the best udemy coupon codes available on Internet. The Unofficial all time Sale for Udemy Courses">
    <meta name="keywords" content="udemy new year sales, Udemy discounts, best udemy deals, new year coupons, new year sale, new year deals,udemy coupon, udemy coupons, udemy coupon code, udemy, udemy new year coupon code">
    <meta name="author" content="AngryPawn">

    <title>AngryPawn - Udemy coupon codes</title>
    
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" />

    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/bootcards.css" rel="stylesheet">
    <link href="css/star-rating.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-app="myApp" ng-controller="coursecontroller">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#angrypawn-top-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Angry Pawn</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="angrypawn-top-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="./index.html">Browse Courses</a>
                    </li>
                    <li class="page-scroll">
                        <a data-toggle="modal" href="#submitCourse">Submit your course</a>
                    </li>
                    <li class="page-scroll">
                        <a data-toggle="modal" href="#subscribe">Subscribe </a>
                    </li>
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="coursename">
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="searchButton"  type="submit" ng-click="searchCourse()"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
    </nav>        
    <!-- Course Submission Modal -->
    <div class="modal fade" id="submitCourse" tabindex="-1" role="dialog" aria-labelledby="Submit Course" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">              
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title  text-center" id="myModalLabel">Submit your Course</h4>
                </div>
                <div class="modal-body">
                    <form class="registerform" role="form" id="courseform" novalidate>
                        <div class="form-group">
                            <label for="instructorName" class="sr-only control-label">Name</label>
                            <input type="text" class="form-control" name="instructorName" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="instructorEmail" class="sr-only control-label">E-mail</label>
                            <input type="email" class="form-control" name="instructorEmail" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="courseUrl" class="sr-only control-label">Course Url</label>
                            <input type="url" class="form-control" name="courseUrl" placeholder="Enter your  discunted course Url">
                        </div>
                        <div class="form-group">
                            <label for="coursePrice" class="sr-only control-label">Course Price</label>
                            <input type="number" class="form-control" name="coursePrice" placeholder="Enter your course price after discount">
                        </div>
                        <div class="submitstatus form-group">
                            <div class="row">
                                <div class="col-sm-7  col-xs-12">
                                    <p id="status" class="form-control-static"></p>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <div align="right">
                                        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                                        <button type="submit" id="CourseSubmit" class="btn btn-primary " disabled>Promote My course</button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </form>
                </div>  
            </div>
        </div>
    </div>
    <!--Courses listing -->
    <section id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Courses</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div id="loader">Loading......</div>
            <div class="couses-container" id="courselist">
                <div infinite-scroll='fetchnext()' infinite-scroll-disabled='end' infinite-scroll-distance='2'> <div class="row">
                    <div class="courses-cards">
                        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="x in names" on-finish-render="ngRepeatFinished">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="ribbon-wrapper-green">
                                        <div class="ribbon-green">{{(x.Price-x.NewPrice)/x.Price*100 | number: 0}}% Off</div>
                                    </div>
                                    <div class="course-img">
                                        <img ng-src="{{x.CourseImage}}" class="img-responsive" style="width: 100%" alt="">
                                    </div>
                                    <div class="course-title">
                                        {{x.Title}}
                                    </div>
                                    <div class="price-details">
                                        <table style="width:100%; table-layout:fixed">
                                            <tr>
                                                <th>Students</th>
                                                <tH>{{x.Number_Reviews}} Reviews</th>
                                                <th>Our Price</th>
                                            </tr>
                                            <tr>
                                                <td class="Student" style="color: #7f8c8d;"><i class="fa fa-user"></i> {{x.Number_Students}}</td>
                                                <td class="discount">
                                                    <input id={{x.CourseID}}>   
                                                </td>
                                                <td class="our_price" >{{x.NewPrice | currency}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <table style="width:100%; min-height:62px;">
                                        <tr style="text-align:center">
                                            <td align="left">
                                                <img ng-src="{{x.AuthorImage}}" class="img-responsive author-image" alt=""> {{x.Author}}
                                            </td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-success" onclick="courseurl(this.value)" name="opencourse" value={{x.CourseID}}>Buy Now</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe modal-->
    <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="Subscribe" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title  text-center" id="myModalLabel">Subscribe Us</h4>
                </div>
                <div class="modal-body">
                    <p class="lead"><strong>Enter your email address and click subcsribe to get the most exciting offers on online courses from us.</strong> </p>
                    <small><em>*Don't worry, we will never spam you.</em></small>
                    <div align="center">
                        <br>
                        <form class="form-inline" role="form" id="subscribeform" novalidate>
                            <div class="form-group">
                                <input type="email" class="form-control" name="subscribeEmail" placeholder="Enter your email" style="width:100%;">
                            </div>
                            <div class="form-group">
                                <button type="submit" id="Subscribebutton" class="btn btn-primary" disabled>Subscribe</button>
                            </div>
                            <div id="messages"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/pages/Angry-Pawn/753039818104962" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <!--
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Angry Pawn 2014
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" async></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" async></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js" async></script>
    <script src="js/classie.js" async></script>
    <script src="js/cbpAnimatedHeader.js" async></script>
    <script src="js/freelancer.js" async></script>
    <script src="js/star-rating.min.js" async></script>
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.3.2.min.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="js/course_module.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-58223638-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>