<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Angry pawn offers the best udemy coupon codes available on Internet. The Unofficial New Year Sale for Udemy Courses">
    <meta name="keywords" content="udemy new year sales, Udemy discounts, best udemy deals, new year coupons, new year sale, new year deals,udemy coupon, udemy coupons, udemy coupon code, udemy, udemy new year coupon code">
    <meta name="author" content="AngryPawn">

    <title>AngryPawn - All the udemy coupon codes are here</title>
    <!--<link href="css/bootstrap.css" rel="stylesheet">
     Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">-->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/bootcards.css" rel="stylesheet">
    <!--validator-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>

    <!-- Custom CSS -->
    

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-app="" ng-controller="coursecontroller">

    
    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#angrypawn-top-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Angry Pawn</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="angrypawn-top-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#courses">Browse Courses</a>
                    </li>
                    <li class="page-scroll">
                        <a data-toggle="modal" href="#submitCourse">Submit your course</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#subscribe">Subscribe </a>
                    </li>
                </ul>

                <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="coursename">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    "
    <!-- Course Submission Modal -->
    <div class="modal fade" id="submitCourse" tabindex="-1" role="dialog" aria-labelledby="Submit Course" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title  text-center" id="myModalLabel">Submit your Course</h4>
                </div>
                
                
                <div class="modal-body">  
                    <form class="registerform" role="form" id="courseform" novalidate>
                        <div class="form-group">
                            <label for="instructorName" class="sr-only control-label">Name</label>
                            <input type="text" class="form-control" name="instructorName" placeholder="Enter your name" >
                        </div>
                        
                        <div class="form-group">
                            <label for="instructorEmail" class="sr-only control-label">E-mail</label>
                            <input type="email" class="form-control" name="instructorEmail" placeholder="Enter your email">
                        </div>
                        
                        <div class="form-group">
                            <label for="courseUrl" class="sr-only control-label">Course Url</label>
                            <input type="url" class="form-control" name="courseUrl" placeholder="Enter your course Url">
                        </div >
                        
                        <div class="submitstatus form-group">
                            <div class="row">
                                <div class="col-sm-7  col-xs-12">
                                    <p id="status"  class="form-control-static"></p>
                                </div>
                                
                                <div class="col-sm-5 col-xs-12">
                                    <div align="right">
                                        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                                        <button type="submit" id="CourseSubmit" class="btn btn-primary " disabled>Submit My course</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>   
            </div>
        </div>
    </div>

    <section id="courses" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Courses</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="couses-container" >
                <div class="row">
                    <div class="courses-cards" >
	                   
                        <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="x in names | filter: coursename" >
                           <div class="panel panel-default" >
	                           
	                           <div class="panel-body">
                                   <span class="course-img">
					                   <img ng-src="{{x.CourseImage}}" class="img-responsive" style="width: 100%"alt="">
                                    </span>
                                    <div class="course-title">
					                   {{x.Title}}
                                    </div>
                                   
                                    <div class="price-details">
                                        <table>
                                            <tr>
                                                <th>Udemy Price</th>
                                                <th>Discount</th>		
                                                <th>Our Price</th>
                                            </tr>
                                            <tr>
                                                <td class="original_price">{{x.Price | currency}}</td>
                                                <td class="discount">{{(x.Price-x.NewPrice)/x.Price*100 | number: 0}}%</td>		
                                                <td class="our_price">{{x.Price | currency}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                               
                                <div class="panel-footer">
                                <button class="btn btn-primary" disabled="">{{(x.Number_Students)}} students</span></button>
                                
                                <button class="btn btn-success pull-right" onclick="courseurl(this.id)" name="opencourse"  id={{x.CourseID}}>Buy Now</button>
                                </div>
                           </div>
                        </div>
                    </div>  
                </div>    
            </div> 
        </div>
    </section>
    <!-- Portfolio Grid Section
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cake.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/circus.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/game.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/safe.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
 -->
    <!-- About Section 
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- subscribe Section -->
    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Subscribe Us</h2>
                   <small> <hr class="star-primary"> </small>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-lg-6 col-md-6 col-sm-12" >
                    <p class="lead"><strong>Enter your email address and click subcsribe to get the most exciting offers on online courses from us.</strong> </p>
                    <small><em>*Don't worry, we will never spam you.</em></small>   
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" align="center" >
                    <br>
                     <form class="form-inline" role="form" id="subscribeform" novalidate>
                        <div class="form-group">
                            <input type="email" class="form-control" name="subscribeEmail" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="Subscribebutton" class="btn btn-primary" disabled>Subscribe</button>
                        </div>
                        <div id="messages" ></div>
                    </form>  
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">   
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/pages/Angry-Pawn/753039818104962" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <!--
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            -->
                        </ul>
                    </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Angry Pawn 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    
    
    
    <!-- Portfolio Modals 
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Angular Js --->
   
    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   
    <!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="js/Validate.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!--Parse Laod script--->
    <script src="js/parseLoad.js"></script>
    
    <!--course submission script--->
    <script src="js/submitbutton.js"></script>
    
    <!--angularJs
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
    <script >
        
        function coursecontroller($scope,$http) {
            console.log("calling parse"); 
               Parse.Cloud.run('exportCourse',{},  {
            success: function(success) {
            var jsonArray = [];
        for(var i = 0; i < success.length; i++) {
           jsonArray.push(success[i].toJSON());
        }
         
        console.log(jsonArray);
        //$http.get("https://www.angrypawn.com/file.html")
        $http.get("http://127.0.0.1:54551/file.html")
        .success(function(response) {$scope.names = jsonArray; $('#courses').show();});
            },
            error: function(error) {
            console.log("err")
            
            }
            });
}
    </script>
    
   


</body>

</html>
